<h1 class="modal-header">
  {{ headerText }}
</h1>

<form name="talkForm" ng-submit="save(talkForm.$valid)" novalidate>
    <div class="form-group" data-ng-class="{ 'has-error' : talkForm.name.$invalid && !talkForm.name.$pristine }">
      <label for="name">Title</label>
      <input type="text" name="name" data-ng-model="talk.name" class="form-control" required />
      <p data-ng-show="talkForm.name.$invalid && !talkForm.name.$pristine" class="help-block">Title is required.</p>
    </div>

    <div class="form-group" data-ng-class="{ 'has-error' : talkForm.speaker.$invalid && !talkForm.speaker.$pristine }">
      <label for="speaker">Speaker</label>
      <input type="text" name="speaker" data-ng-model="talk.speaker" class="form-control" required />
      <p data-ng-show="talkForm.speaker.$invalid && !talkForm.speaker.$pristine" class="help-block">Speaker name is required.</p>
    </div>

    <div class="form-group" data-ng-class="{ 'has-error' : talkForm.technology.$invalid && !talkForm.technology.$pristine }">
      <label for="technology">Technology</label>
      <input type="text" name="technology" data-ng-model="talk.technology" class="form-control" required />
      <p data-ng-show="talkForm.technology.$invalid && !talkForm.technology.$pristine" class="help-block">Technology is required.</p>
    </div>

    <div class="form-group" data-ng-class="{ 'has-error' : talkForm.description.$invalid && !talkForm.description.$pristine }">
      <label for="description">Description</label>
      <input type="text" name="description" data-ng-model="talk.description" class="form-control" required />
      <p data-ng-show="talkForm.description.$invalid && !talkForm.description.$pristine" class="help-block">Description is required.</p>
    </div>

    <div class="form-group" data-ng-class="{ 'has-error' : talkForm.time.begin_time.$invalid && !talkForm.time.begin_time.$pristine }">
      <label for="time.begin_time">Begin Time</label>
      <input type="time" name="time.begin_time" data-ng-model="talk.time.begin_time" class="form-control" required />
      <p data-ng-show="talkForm.time.begin_time.$invalid && !talkForm.time.begin_time.$pristine" class="help-block">Begin Time is required.</p>
    </div>

    <div class="form-group" data-ng-class="{ 'has-error' : talkForm.time.end_time.$invalid && !talkForm.time.end_time.$pristine }">
      <label for="time.end_time">End Time</label>
      <input type="time" name="time.end_time" data-ng-model="talk.time.end_time" class="form-control" required />
      <p data-ng-show="talkForm.time.end_time.$invalid && !talkForm.time.end_time.$pristine" class="help-block">End Time is required.</p>
    </div>

    <div class="form-group" data-ng-class="{ 'has-error' : talkForm.date.$invalid && !talkForm.date.$pristine }">
      <label for="date">Date</label>
      <input type="date" name="date" data-ng-model="talk.date" class="form-control" required />
      <p data-ng-show="talkForm.date.$invalid && !talkForm.date.$pristine" class="help-block">Date is required.</p>
    </div>

</div>
<div class="form-group">
    <button type="submit" class="btn btn-primary" data-ng-disabled="talkForm.$invalid">Save</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
</form>
