  <h1 class="page-header">
    Properties
  </h1>
  <p>

  <div class="row" ng-repeat="propertyGroup in propertyGroup">
      <div class="col-md-4" ng-repeat="prop in propertyGroup">
          <div class="row" align="center">
          <a ui-sref="property.viewinfo({ propertyID: prop.id })"><img class="img-polaroid" ph-img="260x196" /></a>
          </div>
          <div class="row" align="center">
          <a ui-sref="property.viewinfo({ propertyID: prop.id })">{{ prop.name }}</a>
          </div>
          <div class="row" align="center">
          <small>{{ prop.address }}</small>
          </div>
          <div class="row" align="center">
          <small>{{ prop.square_footage }}</small>
          </div>

      </div>

<!--
      <div class="col-md-4">
          <div class="row" align="center">
          <a href="#"><img class="img-polaroid" ph-img="260x196" /></a>
          </div>
          <div class="row" align="center">
          <a ui-sref="create">+ Add New</a>
          </div>          
      </div>
-->
  </div>
  </p>