  <h3 class="page-header">
    {{ headerText }}
    <small>- <a ui-sref="adminproperty.overview({ propertyID: id })">Return to overview</a></small>
  </h3>

  <p>
<form name="investForm" ng-submit="save(investForm.$valid)" novalidate>

    <div class="form-group" data-ng-class="{ 'has-error' : investForm.purchase_date.$invalid && !investForm.purchase_date.$pristine }">
      <label for="purchase_date">Purchase Date</label>
      <input type="date" name="purchase_date" data-ng-model="property.investment.purchase_date" class="form-control" required />
    </div>

    <div class="form-group" data-ng-class="{ 'has-error' : investForm.acquisition_price.$invalid && !investForm.acquisition_price.$pristine }">
      <label for="acquisition_price">Acquisition Price</label>
      <input type="text" name="acquisition_price" data-ng-model="property.investment.acquisition_price" class="form-control" required />
    </div>

    <div class="form-group" data-ng-class="{ 'has-error' : investForm.acquisition_price_psf.$invalid && !investForm.acquisition_price_psf.$pristine }">
      <label for="acquisition_price_psf">Acquisition Price PSF</label>
      <input type="text" name="acquisition_price_psf" data-ng-model="property.investment.acquisition_price_psf" class="form-control" required />
    </div>

    <div class="form-group" data-ng-class="{ 'has-error' : investForm.acquisition_cap_rate.$invalid && !investForm.acquisition_cap_rate.$pristine }">
      <label for="acquisition_cap_rate">Acquisition Cap Rate</label>
      <input type="text" name="acquisition_cap_rate" data-ng-model="property.investment.acquisition_cap_rate" class="form-control" required />
    </div>

    <div class="form-group" data-ng-class="{ 'has-error' : investForm.cost_at_acquisition.$invalid && !investForm.cost_at_acquisition.$pristine }">
      <label for="cost_at_acquisition">Cost at Acquisition</label>
      <input type="text" name="cost_at_acquisition" data-ng-model="property.investment.cost_at_acquisition" class="form-control" required />
    </div>

    <div class="form-group" data-ng-class="{ 'has-error' : investForm.yield_at_stabilization.$invalid && !investForm.yield_at_stabilization.$pristine }">
      <label for="yield_at_stabilization">Yield at Stabilization</label>
      <input type="text" name="yield_at_stabilization" data-ng-model="property.investment.yield_at_stabilization" class="form-control" required />
    </div>

    <div class="form-group" data-ng-class="{ 'has-error' : investForm.exit_cap_rate.$invalid && !investForm.exit_cap_rate.$pristine }">
      <label for="exit_cap_rate">Exit Cap Rate</label>
      <input type="text" name="exit_cap_rate" data-ng-model="property.investment.exit_cap_rate" class="form-control" required />
    </div>

    <div class="form-group" data-ng-class="{ 'has-error' : investForm.exit_price.$invalid && !investForm.exit_price.$pristine }">
      <label for="exit_price">Exit Price</label>
      <input type="text" name="exit_price" data-ng-model="property.investment.exit_price" class="form-control" required />
    </div>

    <div class="form-group" data-ng-class="{ 'has-error' : investForm.exit_price_psf.$invalid && !investForm.exit_price_psf.$pristine }">
      <label for="exit_price_psf">Exit Price PSF</label>
      <input type="text" name="exit_price_psf" data-ng-model="property.investment.exit_price_psf" class="form-control" required />
    </div>


    <div class="form-group" data-ng-class="{ 'has-error' : investForm.exit_year.$invalid && !investForm.exit_year.$pristine }">
      <label for="exit_year">Exit Year</label>
      <input type="text" name="exit_year" data-ng-model="property.investment.exit_year" class="form-control" required />
    </div>

    <div class="form-group pull-right">

    <button ui-sref="adminproperty.overview({ propertyID: id })" class="btn btn-danger">Cancel</button>
    <button type="submit" data-ng-click="save(investForm.$valid)" data-ng-disabled="investForm.$invalid" class="btn btn-success">Update</button>
    </div>
    <div class="clearfix"></div>
    </form>
  </p>