  <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>

  <h3 class="page-header">
    {{ headerText }}
    <small>- <a ui-sref="adminproperty.overview({ propertyID: id })">Return to overview</a></small>
  </h3>

  <p>

    <button data-ng-click="create()" class="btn btn-primary">Add Entry</button>

    <table class="table table-striped table-bordered" ng-table="tableParams">
        <tr ng-repeat="col in property.lease.assumptions">
        <td data-title="'Tenant'">{{col.tenant}}</td>
        <td data-title="'Suite'">{{col.suite}}</td>
        <td data-title="'Lease Type'">{{col.lease_type}}</td>
        <td data-title="'Rentable SF'">{{col.rentable_sf}}</td>
        <td data-title="'Start'">{{col.start}}</td>
        <td data-title="'Expire'">{{col.expire}}</td>
        <td data-title="'$/RSF'">{{col.price_rsf}}</td>
        <td data-title="'Rent Abatement (Mos)'">{{col.rent_abatement_mos}}</td>
        <td data-title="'Annual Rent Bumps'">{{col.annual_rent_bumps}}</td>
        <td data-title="'TIs'">{{col.tis}}</td>
        <td data-title="'LCs'">{{col.lcs}}</td>
        <td data-title="'Actions'">
          <button data-ng-click="edit(col)" class="btn btn-success">Edit</button>
          <button data-ng-click="remove(col)" onclick="return confirm('Are you sure you want to delete this entry?');" class="btn btn-danger">Delete</button>
        </td>        
        </tr>
        </tbody>
    </table>
  </p>