  <h3 class="page-header">
    {{ headerText }}
    <small>- <a ui-sref="adminproperty.overview({ propertyID: id })">Return to overview</a></small>
  </h3>
  <p>
  <form name="infoForm" ng-submit="submit(infoForm.$valid)" novalidate>
    <div class="form-group" data-ng-class="{ 'has-error' : infoForm.name.$invalid && !infoForm.name.$pristine }">
      <label for="name">Name</label>
      <input type="text" name="name" data-ng-model="property.name" class="form-control" required />
      <p data-ng-show="infoForm.name.$invalid && !infoForm.name.$pristine" class="help-block">Property name is required.</p>
    </div>

    <div class="form-group" data-ng-class="{ 'has-error' : infoForm.address.$invalid && !infoForm.address.$pristine }">
      <label for="address">Address</label>
      <input type="text" name="address" data-ng-model="property.address" class="form-control" required />
      <p data-ng-show="infoForm.address.$invalid && !infoForm.address.$pristine" class="help-block">Address is required.</p>
    </div>

    <div class="form-group" data-ng-class="{ 'has-error' : infoForm.square_footage.$invalid && !infoForm.square_footage.$pristine }">
      <label for="square_footage">Square Footage</label>
      <input type="text" name="square_footage" data-ng-model="property.square_footage" class="form-control" required />
      <p data-ng-show="infoForm.square_footage.$invalid && !infoForm.square_footage.$pristine" class="help-block">Square footage is required.</p>
    </div>

    <div class="form-group" data-ng-class="{ 'has-error' : infoForm.buildings_floors.$invalid && !infoForm.buildings_floors.$pristine }">
      <label for="buildings_floors">Buildings &amp; Floors</label>
      <input type="text" name="buildings_floors" data-ng-model="property.buildings_floors" class="form-control" required />
      <p data-ng-show="infoForm.buildings_floors.$invalid && !infoForm.buildings_floors.$pristine" class="help-block">Buildings and Floor info is required.</p>
    </div>

    <div class="form-group" data-ng-class="{ 'has-error' : infoForm.current_occupancy.$invalid && !infoForm.current_occupancy.$pristine }">
      <label for="current_occupancy">Current Occupancy</label>
      <input type="text" name="current_occupancy" data-ng-model="property.current_occupancy" class="form-control" required />
      <p data-ng-show="infoForm.current_occupancy.$invalid && !infoForm.current_occupancy.$pristine" class="help-block">Current Occupancy percentage is required.</p>
    </div>

    <div class="form-group" data-ng-class="{ 'has-error' : infoForm.parking_ratio.$invalid && !infoForm.parking_ratio.$pristine }">
      <label for="parking_ratio">Parking Ratio</label>
      <input type="text" name="parking_ratio" data-ng-model="property.parking_ratio" class="form-control" required />
      <p data-ng-show="infoForm.parking_ratio.$invalid && !infoForm.parking_ratio.$pristine" class="help-block">Parking ratio is required.</p>
    </div>

    <div class="form-group" data-ng-class="{ 'has-error' : infoForm.budgeted_opex_psf.$invalid && !infoForm.budgeted_opex_psf.$pristine }">
      <label for="budgeted_opex_psf">Budgeted OpEx PSF</label>
      <input type="text" name="budgeted_opex_psf" data-ng-model="property.budgeted_opex_psf" class="form-control" />
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group" data-ng-class="{ 'has-error' : infoForm.asset_manager.$invalid && !infoForm.asset_manager.$pristine }">
              <label for="asset_manager">Asset Manager</label>
              <input type="text" name="asset_manager" data-ng-model="property.contacts.asset_manager.name" class="form-control" />
            </div>
                </div>
        <div class="col-md-6">
            <div class="form-group" data-ng-class="{ 'has-error' : infoForm.asset_manager_phone.$invalid && !infoForm.asset_manager_phone.$pristine }">
              <label for="asset_manager_phone">Asset Manager Phone</label>
              <input type="text" name="asset_manager_phone" data-ng-model="property.contacts.asset_manager.phone" class="form-control" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group" data-ng-class="{ 'has-error' : infoForm.property_manager.$invalid && !infoForm.property_manager.$pristine }">
              <label for="property_manager">Property Manager</label>
              <input type="text" name="property_manager" data-ng-model="property.contacts.property_manager.name" class="form-control" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group" data-ng-class="{ 'has-error' : infoForm.property_manager_phone.$invalid && !infoForm.property_manager_phone.$pristine }">
              <label for="property_manager_phone">Property Manager Phone</label>
              <input type="text" name="property_manager_phone" data-ng-model="property.contacts.property_manager.phone" class="form-control" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group" data-ng-class="{ 'has-error' : infoForm.leasing_broker.$invalid && !infoForm.leasing_broker.$pristine }">
              <label for="leasing_broker">Leasing Broker</label>
              <input type="text" name="leasing_broker" data-ng-model="property.contacts.leasing_broker.name" class="form-control" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group" data-ng-class="{ 'has-error' : infoForm.leasing_broker_phone.$invalid && !infoForm.leasing_broker_phone.$pristine }">
              <label for="leasing_broker_phone">Leasing Broker Phone</label>
              <input type="text" name="leasing_broker_phone" data-ng-model="property.contacts.leasing_broker.phone" class="form-control" />
            </div>
        </div>
    </div>

    <div class="form-group pull-right">
        <button ui-sref="adminproperty.overview({ propertyID: id })" class="btn btn-danger">Cancel</button>
        <button data-ng-click="submit(infoForm.$valid)" data-ng-disabled="infoForm.$invalid" class="btn btn-success">Update</button>
    </div>
    <div class="clearfix"></div>

  </form>
  </p>