<h3 class="page-header">
    {{ headerText }}
    <small>- <a ui-sref="adminproperty.overview({ propertyID: id })">Return to overview</a></small>
</h3>

<p>

<table class="table table-striped table-bordered" ng-table="tableParams">
    <tbody>
        <tr ng-repeat="col in property.lease.top5">
            <td data-title="'Unit'">{{col.unit}}</td>
            <td data-title="'Lease Name'">{{col.lease_name}}</td>
            <td data-title="'Lease From'">{{col.lease_from}}</td>
            <td data-title="'Lease To'">{{col.lease_to}}</td>
            <td data-title="'Area'">{{col.area | number}}</td>
            <td data-title="'% of Total Area'">{{col.percent_of_total_area}}</td>
            <td data-title="'Base Rent'">{{col.base_rent | currency}}</td>
            <td data-title="'Actions'">
                <button data-ng-click="edit(col)" class="btn btn-success">Edit</button>
            </td>
        </tr>
    </tbody>
</table>

  </p>